body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #242323;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}
.container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.container img {   
    margin: 0; 
    display: block;
    margin: 0 auto 0px auto;
}
.container label {
    display: block;
    margin-bottom: 5px;
}
.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container .forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    font-size: 0.9em;
}
.container .forgot-password a {
    color: #007BFF;
    text-decoration: none;
}
.container .forgot-password a:hover {
    text-decoration: underline;
}
.container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container button:hover {
    background-color: #0056b3;
}
.container .sso-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container .sso-button:hover {
    background-color: #c33d2e;
}
.container .back-to-login {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}
.container .back-to-login a {
    color: #007BFF;
    text-decoration: none;
}
.container .back-to-login a:hover {
    text-decoration: underline;
}
.container .error-message {
    display: none;
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
